version: '3.8'

services:
  app:
    build: .
    container_name: story_book_app
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: 123456
      DB_NAME: story_book
      SECRET_KEY: your-secret-key-here
      FLASK_ENV: production
      FLASK_HOST: 0.0.0.0
      FLASK_PORT: 5000
      JWT_ACCESS_TOKEN_EXPIRES: 3600
      MAIL_SERVER: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: anhlam2k44@gmail.com
      MAIL_PASSWORD: zglybicjflzfygyi
      MAIL_USE_TLS: "True"
      MAIL_USE_SSL: "False"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./uploads:/app/uploads
      - ./logs:/app/logs